@import "tailwindcss";
@theme {
  --color-main-bg: #050709;
  /* --color-main-bg: #fff; */
  --color-dark-bg: #0f0715;
  --color-light-bg: #fff;
  --color-secondary-color: #2a1454;
  --color-white-color: #fff;
  --color-body-color: #ddd;
  --color-primary-color-light: #140c1c;
  --color-primary-color: #8750f7;
  --color-black-color: #050709;
  --color-gray-color-2: #747779;
  --color-gray-color-3: #22272c;
  --color-off-white: #f6f3fc;
}
@custom-variant dark (&:where(.dark, .dark *));
